<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" verbose="1" >
<listeners>
		<listener class-name="golbaltek.ny.listiener" />
</listeners> 
  <test name="validate login test" >
    <classes>
       <class name="golbaltek.ny.ruuner.MyRunner" />
    </classes>
  </test>
</suite>

